@using Domain.Entities
@model IEnumerable<Video>

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model)
{
    <div>
        <h3>@p.video_name</h3>
        <p>@p.video_description</p>
        <h4>@p.video_price_per_day.ToString("# руб")</h4>
    </div>
}