
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
    height: 100%;
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
}

header{
    height: 200px;
    position: relative;
    background-color: rgb(208, 149, 161);
}

h1, .navigation{
        position: absolute;
        bottom: 20%;
}

.h1{
    font-size: 60px;
    font-family: 'Bad Script', cursive;
    display: block;
    padding-left: 30px;
}

.navigation{
    right: 0;
}

.navigation ul li{
    display: inline-block;
    padding: 15px;
}

.navigation ul{
    margin-right: 20px;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 700px;
    margin: 20px auto;
    padding-top: 50px;
}

h2, p,ul li{
    text-align: center;
}

h2{
    font-weight: 600;
    padding: 10px 0;
}
 .manual ul li{
    list-style-type: decimal;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: left;
}

 .nav2 ul li{

     padding : 20px;

 }

 .nav2 ul{
          margin: 0 auto;
          width: 300px;
 }

 .nav2 ul li:first-child{
     border-radius: 4px;
    
     background-color: darkblue;
 }
  .nav2 ul li:first-child a{
       color: white;
  }