@model VideoRentalSite.Models.order
@using WebMatrix.Data;
@{
    ViewBag.Title = "Basket";
}

@{
    string connectionString = @"VideoRentalDatabase";
    IEnumerable<dynamic> videos;
    using (var db = Database.Open(connectionString))
    {

         videos = db.Query("SELECT basket.video_name, basket.videolist_quantity, basket.order_data" +
            " FROM basket WHERE basket.user_id = " + Session["user_id"]);

    }
}

<h2>Basket</h2>

<div>
    <h4>order</h4>
    <hr />
    <dl class="dl-horizontal">
        @{
            foreach (var item in videos)
            {
                <dt>
                    Name
                </dt>
                <dd>
                    @item.video_name
                </dd>
                   
                <dt>
                    Quantity
                </dt>

                <dd>
                    @item.videolist_quantity
                </dd>
                <dt>
                    Date
                </dt>

                <dd>
                    @item.order_data
                </dd>

            }
        }



    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "UserIndex")
</p>
