@model VideoRentalSite.Models.order
@using WebMatrix.Data;
@{
    ViewBag.Title = "Basket";
}
@{
    Layout = "~/Views/Shared/_CustomLayoutForAdmin.cshtml";
}

@{
    string connectionString = @"VideoRentalDatabase";
    IEnumerable<dynamic> videos;
    int orderId = Model.order_id;
    using (var db = Database.Open(connectionString))
    {

        videos = db.Query("SELECT orders.video_name, orders.order_status" +
           " FROM orders WHERE orders.order_id = " + orderId);

    }
    string orderstatus = "";
    string currentStatus = videos.First().order_status;
    switch (currentStatus)
    {
        case "processing":
            orderstatus = "Выполняется";
            break;
        case "confirmed":
            orderstatus = "Подтвержден";
            break;
        case "client":
            orderstatus = "Видеофильмы у клиента";
            break;
        case "returned":
            orderstatus = "Завершен";
            break;
        default:
            break;
    }


    string [] status = new string[4] { "В обработке", "Подтвержден", "У клиента", "Заказ возвращен" };
}

<h2>Basket</h2>

<div>

    <div><span>Статус заказа: @orderstatus</span></div>
    <table>
        <tr><th>Название фильма</th></tr>
        @{
            foreach (var item in videos)
            {

                <tr><td> @item.video_name </td></tr>

            }
        }
    </table>
    <div>
        <select size="1" id="select">
            @{ for (int i = 0; i < status.Length; i++)
                {
                    <option value=@i>
                        @status[i]
                    </option>
                }

            }
        </select>
        <button type="button" onclick="ChangeStatus()">Заказать</button>
    </div>
    <label style="visibility: hidden" id="order_id" value=@Model.order_id>@Model.order_id</label>
</div>

<script>
    function ChangeStatus() {
        var status = {
            0: "processing",
            1: "confirmed",
            2: "user",
            3: "returned"
        }

        var data = {
            "order_status": status[$('#select').val()],
            "order_id": $("#order_id").text()
        }

        console.log(data)

        $.get("/Home/ChangeStatus", data)
    }
</script>