@model VideoRentalSite.Models.order
@using WebMatrix.Data;
@{
    ViewBag.Title = "Basket";
}
@{
    Layout = "~/Views/Shared/_CustomLayoutForUser.cshtml";
}

@{
    string connectionString = @"VideoRentalDatabase";
    IEnumerable<dynamic> videos;
    int orderId = Model.order_id;
    using (var db = Database.Open(connectionString))
    {

        videos = db.Query("SELECT orders.video_name, orders.video_price_per_day" +
           " FROM orders WHERE orders.order_id = " + orderId);

    }

    float totalPrice = 0;
}

<div class="basket">
    <h2 class="heading2">Детали заказа №@Model.order_id</h2>
    <table>
        <tr><th>Название фильма</th><th>Стоимость</th></tr>
        @{
            foreach (var item in videos)
            {

                <tr><td> @item.video_name </td> <td>@item.video_price_per_day </td> </tr>

                totalPrice += @item.video_price_per_day;
            }
        }
       
    </table>
    <div>Общая сумма: <span id="totalprice">@totalPrice</span></div>
</div>