@model VideoRentalSite.Models.order
@using WebMatrix.Data;
@{
    ViewBag.Title = "Basket";
}
@{
    Layout = "~/Views/Shared/_CustomLayoutForUser.cshtml";
}

@{
    string connectionString = @"VideoRentalDatabase";
    IEnumerable<dynamic> orders;
    using (var db = Database.Open(connectionString))
    {

        orders = db.Query("SELECT DISTINCT orders.order_data, orders.order_status, orders.order_id" +
           " FROM orders ORDER BY orders.order_data");

    }

}

<div>
    <h4>order</h4>
    <hr />
    <table>
        <tr><th>Дата заказа</th><th>Статус</th> </tr>
        @{
            foreach (var item in orders)
            {

                <tr><td>@item.order_data</td><td> @item.order_status </td> <td>@Html.ActionLink("Подробнее", "OrderDetailsAdmin", new { id = item.order_id })</td></tr>

            }
        }

    </table>
</div>