@model VideoRentalSite.Models.order
@using WebMatrix.Data;
@{
    ViewBag.Title = "Basket";
}
@{
    Layout = "~/Views/Shared/_CustomLayoutForUser.cshtml";
}

@{
    string connectionString = @"VideoRentalDatabase";
    IEnumerable<dynamic> orders;
    using (var db = Database.Open(connectionString))
    {

        orders = db.Query("SELECT DISTINCT orders.order_data, orders.order_status, orders.order_id" +
           " FROM orders WHERE orders.user_id = " + Session["user_id"] + "ORDER BY orders.order_data");

    }

}

<div class="basket">
    <h2 class="heading2">Заказы</h2>
    <table>
        <tr><th>№ заказа</th><th>Дата заказа</th><th>Статус</th><th></th> </tr>
        @{
            foreach (var item in orders)
            {
                string orderstatus = "";
                string currentStatus = item.order_status;
                switch (currentStatus)
                {
                    case "processing": orderstatus = "Выполняется";
                        break;
                    case "confirmed":
                        orderstatus = "Подтвержден";
                        break;
                    case "client":
                        orderstatus = "Видеофильмы у Вас";
                        break;
                    case "returned":
                        orderstatus = "Завершен";
                        break;
                    default:
                        break;
                }
                <tr id=@item.order_data class=@currentStatus><td>@item.order_id</td><td>@item.order_data</td><td> @orderstatus </td> <td class="mybtn">@Html.ActionLink("Подробнее", "OrderDetails", new { id = item.order_id })</td></tr>

            }
        }

    </table>
</div>



